@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Alata', sans-serif;
    padding: 0;
    margin: 0;
}
.bank-area {
    padding-top: 100px;
}
.bank-area h1 {
    margin-bottom: 40px;
}
.submit-area {
    padding: 50px 35px;
    box-shadow: 0px 5px 23px #9c92f178;
    border-radius: 10px;
    text-align: center;
}
.btn:focus, .btn-active {
    box-shadow: 0 0 0 0;
}
.submit-area h4 {
    margin-bottom: 20px;
}
.form-control {
    height: 50px;
    border: 1px solid #b4a4e4a1;
}
.btn {
    padding: 8px 35px;
    font-size: 18px;
}
#trasaction-area {
    display: none;
}
.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color:lightcoral;
}

.balance {
    background-color: orange;
}
.status {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.status h5, .status h1 {
    color: #fff;
    margin-bottom: 0;
}
.status h5 {
    margin-bottom: 10px;
}
.deposit-area, .withdraw-area {
    padding: 50px 35px;
    box-shadow: 0px 2px 10px #9c92f15e;
    border-radius: 10px;
    margin:30px 10px;
}
.deposit-area h5, .withdraw-area h5 {
    margin-bottom: 15px;
}